section.page.home
  //- jumbotron
  div.jumbotron
    p &nbsp;
    div.container
      //- carousel
      div#myCarousel.carousel.slide(data-ride="carousel" data-interval="10000")
        ol.carousel-indicators
          li.active(data-target="#myCarousel" data-slide-to="0")
          li(data-target="#myCarousel" data-slide-to="1")
          li(data-target="#myCarousel" data-slide-to="2")
        div.carousel-inner(role="listbox")
          div.item.active
            picture
              source(data-srcset="/images/muk_200w.jpg 200w, /images/muk_300w.jpg 300w" media="--small")
              source(data-srcset="/images/muk_300w.jpg 300w, /images/muk_600w.jpg 600w" media="--medium")
              source(data-srcset="/images/muk_600w.jpg 600w, /images/muk_900w.jpg 900w" media="--large")
              source(data-srcset="/images/muk_900w.jpg 900w")
              img.lazyload(data-src="holder.js/75px56p?theme=custom&font=Glyphicons Halflings&text=%EE%81%86&auto=yes" data-sizes="auto")
            div.carousel-caption
              h1 Reset and focus on how you would like to feel.
          div.item
            picture
              source(data-srcset="/images/sun_200w.jpg 200w, /images/sun_300w.jpg 300w" media="--small")
              source(data-srcset="/images/sun_300w.jpg 300w, /images/sun_600w.jpg 600w" media="--medium")
              source(data-srcset="/images/sun_600w.jpg 600w, /images/sun_900w.jpg 900w" media="--large")
              source(data-srcset="/images/sun_900w.jpg 900w")
              img.lazyload(data-src="holder.js/75px56p?theme=custom&font=Glyphicons Halflings&text=%EE%81%86&auto=yes" data-sizes="auto")
            div.carousel-caption
              h1 Reconnect with your energy.  At your convenience, day...
          div.item
            picture
              source(data-srcset="/images/moon_200w.jpg 200w, /images/moon_300w.jpg 300w" media="--small")
              source(data-srcset="/images/moon_300w.jpg 300w, /images/moon_600w.jpg 600w" media="--medium")
              source(data-srcset="/images/moon_600w.jpg 600w, /images/moon_900w.jpg 900w" media="--large")
              source(data-srcset="/images/moon_900w.jpg 900w")
              img.lazyload(data-src="holder.js/75px56p?theme=custom&font=Glyphicons Halflings&text=%EE%81%86&auto=yes" data-sizes="auto")
            div.carousel-caption
              h1 ...or night.  Your goals are achievable.  Let's work together.
  
        a.left.carousel-control(href="#myCarousel", role="button", data-slide="prev")
          span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
          span.sr-only Previous
        a.right.carousel-control(href="#myCarousel", role="button", data-slide="next")
          span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
          span.sr-only Next
      p &nbsp;
      ul
        li I come to you to maximize comfort, convenience, and effectiveness.
        li Each session is a progression of understanding and meeting your goals from injury recovery to relaxation or from a gentle foot rub to a full body massage.
        li We work together to plan a session that is right for you, be it time, technique, or setting.
  
  //- grid content
  div.container
    div.row
      div.col-sm-4
        picture
          source(data-srcset="/images/pumpwater_64w.jpg 64w, /images/pumpwater_150w.jpg 150w" media="--small")
          source(data-srcset="/images/pumpwater_150w.jpg 150w, /images/pumpwater_300w.jpg 300w" media="--medium")
          source(data-srcset="/images/pumpwater_300w.jpg 300w")
          img.lazyload(data-src="holder.js/75px56p?theme=custom&font=Glyphicons Halflings&text=%EE%81%86&auto=yes" data-sizes="auto")
        h3 Style
        hr
        p I am always honing my craft to provide a satisfying experience.  The most important part of that is listening to your goals to formulate a targeted session using techniques that can include swedish, sports massage, deep tissue, thai, deep massage, and orthopedic protocols.
        p Secondly, working both physically and spiritually to create a space full of peace and acceptance is key.
      div.col-sm-4
        picture
          source(data-srcset="/images/rocks_64w.jpg 64w, /images/rocks_150w.jpg 150w" media="--small")
          source(data-srcset="/images/rocks_150w.jpg 150w, /images/rocks_300w.jpg 300w" media="--medium")
          source(data-srcset="/images/rocks_300w.jpg 300w")
          img.lazyload(data-src="holder.js/75px56p?theme=custom&font=Glyphicons Halflings&text=%EE%81%86&auto=yes" data-sizes="auto")
        h3 Logistics
        hr
        p I provide the table, sheets, oils, creams, music, and whatever else I can lug around and you have your choice of location.  I come to you!  Don't be shy to ask for times outside of business hours.  Schedule a time that is convenient for you.
      div.col-sm-4
        picture
          source(data-srcset="/images/dogmassage_64w.jpg 64w, /images/dogmassage_150w.jpg 150w" media="--small")
          source(data-srcset="/images/dogmassage_150w.jpg 150w, /images/dogmassage_300w.jpg 300w" media="--medium")
          source(data-srcset="/images/dogmassage_300w.jpg 300w")
          img.lazyload(data-src="holder.js/75px56p?theme=custom&font=Glyphicons Halflings&text=%EE%81%86&auto=yes" data-sizes="auto")
        h3 Contact
        hr
        p
          | Please do contact me via email at
          |
          a(href="mailto:fernandocano@winduponthewater.com") wind upon the water massage
          |
          | to schedule and for more details.
        p Stay tuned for a contact number and enhancements such as online scheduling and payment.
